body {
    background-image: url("../static/image/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.answer__ttl {
    text-align: center;
    font-size: 70px;
}

.ans, .ex, .next {
    font-size: 40px;
}

.ex {
    max-width: 800px;
    margin: 0 auto;
}

.next a {
    padding: 30px 100px;
    color: #000;
    background: #fff;
    transition: all .3s;
}

.next a:hover {
    color: #fff;
    background: #000;
}