body {
  background-image: url("../static/image/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

h1 {
    color: #FFFFFF;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    text-shadow: 
       2px  2px 1px rgba(248, 152, 8, 0.925),
      -2px  2px 1px rgba(248, 152, 8, 0.925),
       2px -2px 1px rgba(248, 152, 8, 0.925),
      -2px -2px 1px rgba(248, 152, 8, 0.925),
       2px  0px 1px rgba(248, 152, 8, 0.925),
       0px  2px 1px rgba(248, 152, 8, 0.925),
      -2px  0px 1px rgba(248, 152, 8, 0.925),
       0px -2px 1px rgba(248, 152, 8, 0.925);
  }
  
span.choice {
    font-size: 25px;
    font-style: normal;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
    
  }
  
  a {
    width: 100%;
    padding: 20px 0;
    color: black;
    text-decoration-line: none;
    display    : inline-block;
    font-size  : 160%;
    font-weight: bold;
    color: orange;
    animation  : aAnime 0.7s linear infinite alternate;
  }

  .home__btn {
    max-width: 500px;
    margin: 80px auto;
  }

  .home__btn a {
    transition: all .3s;
    padding: 20px;
    width: 100%;
    border: #fff 4px solid;
    background : #fff;
  }
  
  .home__btn a:hover {
    background: #000;
    color: #fff;
  }
