body {
    background-image: url("../static/image/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.quiz__ttl {
    text-align: center;
    font-size: 70px;
    margin: 0 auto 60px;
    max-width: 1000px;
}

.quiz__body {
    text-align: center;
}

.quiz__item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quiz__item__txt {
    margin: 80px 20px 0 20px;
    list-style-type: none;
    font-size: 40px;
}

.quiz__item__txt a {
    padding: 30px;
    color: #000;
    background: #fff;
    transition: all .3s;
}

.quiz__item__txt a:hover {
    color: #fff;
    background: #000;
}