body {
    background-image: url("../static/image/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.result__ttl {
    text-align: center;
    font-size: 60px;
}

.result__body {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.result__item__ttl {
    font-size: 40px;
}

.result__back {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.result__txt {
    text-align: center;
}

.result__txt a{
    padding: 30px 100px;
    color: #000;
    background: #fff;
    transition: all .3s;
}

.result__txt a:hover{
    color: #fff;
    background: #000;
}