body {
  background-image: url("../static/image/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.title__body {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}


h1 {
  margin: 0;
  color: #FFFFFF;
  font-style: normal;
  font-size: 110px;
  text-align: center;
  text-shadow: 
     2px  2px 1px rgba(248, 152, 8, 0.925),
    -2px  2px 1px rgba(248, 152, 8, 0.925),
     2px -2px 1px rgba(248, 152, 8, 0.925),
    -2px -2px 1px rgba(248, 152, 8, 0.925),
     2px  0px 1px rgba(248, 152, 8, 0.925),
     0px  2px 1px rgba(248, 152, 8, 0.925),
    -2px  0px 1px rgba(248, 152, 8, 0.925),
     0px -2px 1px rgba(248, 152, 8, 0.925);
}

p {
  margin: 100px 0 0;
  font-size: 35px;
  text-align: center;
}

a {
  width: 100%;
  padding: 20px 0;
  color: black;
  text-decoration-line: none;
  display    : inline-block;
  font-size  : 160%;
  font-weight: bold;
  color: white;
  animation  : aAnime 0.7s linear infinite alternate;
}
@keyframes aAnime{
 0% { text-shadow:  2px  2px 10px #fff ,
                   -2px  2px 10px #fff ,
                    2px -2px 10px #fff ,
                   -2px -2px 10px #fff;}
100% { text-shadow:  2px  2px 10px #777 ,
                   -2px  2px 10px #777 ,
                    2px -2px 10px #777 ,
                   -2px -2px 10px #777;}
}
