<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/ansewr.css">
    </head>
    <body>
        <h1>当てはまった人は...</h1>
        <p class = 'ex'>{{ ex }}</p>

        {% if times == 6 %}
        <p class = 'next'><a href="{% url 'result' true false 1 %}">次へ</a></p>
        {% else %}
        <p class = 'next'><a href="{% url 'quiz' q_list true false %}">次へ</a></p>
        {% endif %}
        
    </body>
</html>