{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>quiz</title>
  <link rel="stylesheet" href="{% static 'ansewr.css' %}">
</head>
    <body>
        <div>
            {% if cho %}
            <h1 class="answer__ttl">正解！</h1>
            {% else %}
            <h1 class="answer__ttl">ハズレ！</h1>
            <p class = 'ans'>正解は...{{ q_list }} !</p>
            {% endif %}
        </div>
        <p class = "ex">理由は...</p>
        <p class = 'ex'>{{ ex }}</p>

        {% if times == 6 %}
        <p class = 'next'><a href="{% url 'result' true false 0 %}">次へ</a></p>
        {% else %}
        <p class = 'next'><a href="{% url 'quiz' fie used true false %}">次へ</a></p>
        {% endif %}
    </body>
</html>