<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/author.css">
        <script src=“../animals_java/author.java”></script>
        <?php
        $fie = 0;
        $fie_a = function($fie) { return $fie + 1; };
        ?>
        <script>
            fie = 0;
        </script>
    </head>

    <body align="center">
        <p><a href="{% url 'make_ques' %}">問題を作る</a></p>

        <p>ねこのご飯について</p>
        <table border="5" width="90%" align="center">
            <thead>
                <tr>
                    <th>問題</th><th>選択１</th><th>選択２</th><th>選択３</th><th>選択４</th><th>正解の番号</th><th>解説</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df1_to %}
                    <tr>
                        {% for j in i %}
                        <td>{{ j }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url 'like' 1 fie %}"> いいね！</a><br>
                            <a href="{% url 'delete' 1 fie %}">削除</a>
                            <script>
                                 <a href="{% url 'delete' 1 fie %}">削除</a>;
                            </script>
                            <script>
                                fie++;
                                System.out.printf("aaaaaaa");
                            </script>
                            <?php echo <a "href=\"delete?1,$fie\"">削除</a>;?>
                            <?php echo <a href="delete?1,$fie">削除</a>;?>
                            <?php $fie_a($fie);?>
                        </td>
                        
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

        <p>ねこの予防について</p>
        <table border="5" width="90%" align="center">
            <thead>
                <tr>
                    <th>問題</th><th>選択１</th><th>選択２</th><th>選択３</th><th>選択４</th><th>正解の番号</th><th>解説</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df2_to %}
                <tr>
                    {% for j in i %}
                    <td>{{ j }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>ねこの老後について</p>
        <table border="5" width="90%" align="center">
            <thead>
                <tr>
                    <th>問題</th><th>選択１</th><th>選択２</th><th>選択３</th><th>選択４</th><th>正解の番号</th><th>解説</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df3_to %}
                <tr>
                    {% for j in i %}
                    <td>{{ j }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>犬のご飯について</p>
        <table border="5" width="90%" align="center">
            <thead>
                <tr>
                    <th>問題</th><th>選択１</th><th>選択２</th><th>選択３</th><th>選択４</th><th>正解の番号</th><th>解説</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df4_to %}
                <tr>
                    {% for j in i %}
                    <td>{{ j }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>犬の予防について</p>
        <table border="5" width="90%" align="center">
            <thead>
                <tr>
                    <th>問題</th><th>選択１</th><th>選択２</th><th>選択３</th><th>選択４</th><th>正解の番号</th><th>解説</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df5_to %}
                <tr>
                    {% for j in i %}
                    <td>{{ j }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>犬の老後について</p>
        <table border="5" width="90%" align="center">
            <thead>
                <tr>
                    <th>問題</th><th>選択１</th><th>選択２</th><th>選択３</th><th>選択４</th><th>正解の番号</th><th>解説</th>
                </tr>
            </thead>
            <tbody>
                {% for i in df6_to %}
                <tr>
                    {% for j in i %}
                    <td>{{ j }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>