<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/dog_cat_choice.css">
    </head>
    <body>
        <h1>犬について知りたい？<br>猫について知りたい？</h1>
        <span class="choice">
            <h2 class="home__btn"><a href="{% url 'quiz' cat None 0 0 %}">ねこ</a></h2>
            <h2 class="home__btn"><a href="{% url 'quiz' dog None 0 0 %}">いぬ</a></h2>
        </span>
    </body>
</html>