<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/home.css">
    </head>
    <body>
        <h1>どのコースをやりたい？</h1>
        <p class="home__btn"><a href="{% url 'dog_cat_choice' 1 %}">ご飯について</a></p>
        <p class="home__btn"><a href="{% url 'dog_cat_choice' 2 %}">予防について</a></p>
        <p class="home__btn"><a href="{% url 'dog_cat_choice' 3 %}">老化について</a></p>
        <p class="home__bin"><a href="{% url 'title' %}">タイトルへ戻る</a>
    </body>
</html>