<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/log_in.css">
    </head>
    <body>
        <p>ログイン</p>
        <form method="POST" action="{% url 'log_in2' %}">{% csrf_token %}
            <label for = "acc">Account Name：</label>
            <input id="acc" type="text" name="acc">

            <label for = "pas">Password：</label>
            <input id="pas" type="password" name="pas">

            <input type="submit">
        </form>

        <p>アカウントをお持ちでない方　→　<a href="{% url 'make_account' %}">新規作成</a></p>
    </body>
</html>