<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/make_ques.css">
        <script src=“../animals_java/make_ques.java”></script>
    </head>
    <body>
        <form method="post" action="{% url 'make_ques' %}">{% csrf_token %}
            <p>ジャンル： 
                <select id='fie' name="fie">
                    <option value="1">猫:ご飯について</option>
                    <option value="2">猫:予防について</option>
                    <option value="3">猫:老後について</option>
                    <option value="4">犬:ご飯について</option>
                    <option value="5">犬:予防について</option>
                    <option value="6">犬:老後について</option>
                </select>
            </p>

            <label for = "ques">問題：</label>
            <input id="ques" type="text" name="ques"><div>

            <label for = "cho1">選択１：</label>
            <input id="cho1" type="text" name="cho1">
            <label for = "cho2">選択２：</label>
            <input id="cho2" type="text" name="cho2">
            <label for = "cho3">選択３：</label>
            <input id="cho3" type="text" name="cho3">
            <label for = "cho4">選択４：</label>
            <input id="cho4" type="text" name="cho4"><div>

            <label for = "ans">正解番号：</label>
            <input id="ans" type="text" name="ans">
            <label for = "com">解説：</label>
            <input id="com" type="text" name="com">

            <input type="submit">
        </form>
    </body>
</html>