<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/make_account.css">
    </head>
    <body>
        <form method="post" action="{% url 'make_account2' %}">
            <label for = "acc">アカウント名（ログイン時に使用します）：</label>
            <input id="acc" type="text" name="acc"><div>
            
            <label for = "surname">姓：</label>
            <input id="surname" type="text" name="surname">

            <label for = "name">名前：</label>
            <input id="nama" type="text" name="name">

            <p>英数字の大文字小文字、数字を使用した８語以上でお願いします</p>

            <label for = "pas">パスワード：</label>
            <input id="pas" type="password" name="pas"><div>
            
            <label for = "check">確認用パスワード：</label>
            <input id="check" type="password" name="check">

            <input type="submit">
        </form>
    </body>
</html>