{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>quiz</title>
  <link rel="stylesheet" href="{% static 'quiz.css' %}">
</head>
<body>
  <section>
    <h1 class="quiz__ttl">Q{{ times }}.  {{ ques }}</h1>
    <div class="quiz__body">
      <ul class="quiz__item">
        <li class="quiz__item__txt"><a href="{% url 'answer' 1 ans ex times q_list urls true false 1 %}">{{ cho1 }}</a></li>
        <li class="quiz__item__txt"><a href="{% url 'answer' 2 ans ex times q_list urls true false 1 %}">{{ cho2 }}</a></li>
      </ul><!-- /.quiz__item -->
    </div><!-- /.quiz__body -->
  </section>
</body>
</html>