{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>quiz</title>
  <link rel="stylesheet" href="{% static 'result.css' %}">
</head>
<body>
    <h1 class="result__ttl">結果発表！！</h1>
    <div class="result__body">
        <div class="result__item">
            <p class="result__item__ttl">正解の数は...{{ num_true }} 回！</p>
        </div><!-- /.result__item -->
        <div class="result__item">
            <p class="result__item__ttl">不正解の数は...{{ num_false }} 回！</p>
        </div><!-- /.result__item -->
    </div><!-- /.result__body -->
    <p class="result__txt">
        <a href="{% url 'home' %}" class="result__back">戻る</a>
    </p><!-- /.result__txt -->
</body>
</html>