{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>quiz</title>
  <link rel="stylesheet" href="{% static 'result.css' %}">
</head>
<body>
    <h1 class="result__ttl">結果発表！！</h1>
    <div class="result__body">
        <div class="result__item">
            <p class="result__item__ttl">当てはまった数は...{{ num_true }} 個！</p>
        </div><!-- /.result__item -->
        <div class="result__item">
            <p class="result__item__ttl">当てはまらなかった数は...{{ num_false }} 個！</p>
        </div><!-- /.result__item -->
        <p>１つでも当てはまった項目があったら一度動物病院に行ってみるといいかも...</p>
    </div><!-- /.result__body -->
    <a href="{% url 'home' %}" class="result__back">戻る</a>
</body>
</html>