<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../static/title.css">
    </head>
    <body>
        <div class="title__body">
            <h1>犬猫の豊かな暮らし</h1>
            <p><a href="{% url 'home' %}">Game Start</a></p>
            <p><a href="{% url 'log_in' %}">admin</a></p>
        </div>
    </body>
</html>
